
##############################
# Build artifacts
##############################
/target/*
!/target/ECSFinder-1.0.0.jar

##############################
# IDE / Editor config
##############################
/.idea/
/.vscode/
/*.iml

##############################
# OS cruft
##############################
.DS_Store
Thumbs.db