##############################
# Build artifacts
##############################
/target/

##############################
# IDE / Editor config
##############################
/.idea/
/.vscode/
/*.iml

##############################
# OS cruft
##############################
.DS_Store
Thumbs.db